@model IEnumerable<SIARAWEB.Models.AcademicTracking>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UnitNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApprovalPercentage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FailurePercentage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DropoutPercentage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UnitNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovalPercentage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FailurePercentage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DropoutPercentage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
